body {
  margin: 0;
  overflow: hidden;
}

.ow-container {  
    #help-list {  
        display: block;
        position: fixed;
        list-style: none;
        padding: 0;
        margin-left: 10px;
        margin-top: 10px;
        background-color: seagreen;
        z-index: 100;
        border-radius: 5px;

        li {  
            color: #0a100a;
            background-color: darkseagreen;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-right: 5px;
            margin: 2px;

            .key {  
                padding: 8px;
                width: 70px;
                font-weight: bold;
                background: #0a100a;
                color: white;
                margin-right: 5px;
            }
        }
    }
}



